.colorRed{
    display: inline;
    height: 21px;
    border-radius: 4px;
    margin: 0px 0px 1px 12px;
    padding: 1px 5px 3px 4px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.75);
   
}
.colorOrange{
    display: inline;
    height: 21px;
    border-radius: 4px;
    margin: 0px 0px 1px 12px;
    padding: 1px 5px 3px 4px;
    box-sizing: border-box;
    background-color: rgba(255, 145, 0, 0.75);
   
}
.colorYellow{
    display: inline;
    height: 21px;
    border-radius: 4px;
    margin: 0px 0px 1px 12px;
    padding: 1px 5px 3px 4px;
    box-sizing: border-box;
    background-color: rgba(255, 233, 0, 0.75);
   
}
.colorLightGreen{
    display: inline;
    height: 21px;
    border-radius: 4px;
    margin: 0px 0px 1px 12px;
    padding: 1px 5px 3px 4px;
    box-sizing: border-box;
    background-color: rgba(145, 255, 2, 0.75);
   
}
.colorGreen{
    display: inline;
    height: 21px;
    border-radius: 4px;
    margin: 0px 0px 1px 12px;
    padding: 1px 5px 3px 4px;
    box-sizing: border-box;
    background-color: rgba(0, 255, 0, 0.75);
   
}